<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #F4F4F4;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #4A4A4A;
            text-align: center;
            margin-top: 100px;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #4A4A4A;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            background-color: #F4F4F4;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #4A4A4A;
            color: #FFFFFF;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #333333;
        }
    </style>
</head>

<body>
    <% if(!sessionData) { %>
        <h1>Login to start OAuth Flow</h1>
        <form id="oauth-form" method="GET" action="/auth/usekeyp">
            <input type="submit" value="Login" />
        </form>
        <% } %>
</body>

</html>