<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #F4F4F4;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #4A4A4A;
            text-align: center;
            margin-top: 100px;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #4A4A4A;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            background-color: #F4F4F4;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #4A4A4A;
            color: #FFFFFF;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #333333;
        }

        .long-text {
            word-wrap: break-word;
            /* This is the new CSS property added to break long text into multiple lines */
        }

        .table {
            border-collapse: collapse;
        }

        .table th,
        .table td {
            padding: 10px;
            border: 1px solid black;
        }

        /* Dropdown container */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown button */
        .dropdown select {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border: none;
            outline: none;
            color: #333333;
            font-size: 16px;
            cursor: pointer;
            appearance: none;
        }

        /* Dropdown arrow */
        .dropdown select::after {
            content: '\25BE';
            font-size: 12px;
            margin-left: 5px;
        }

        /* Dropdown content */
        .dropdown-content {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            min-width: 160px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
            background-color: #ffffff;
            padding: 10px;
        }

        /* Links inside the dropdown */
        .dropdown-content option {
            color: #333333;
            display: block;
            padding: 10px;
            text-decoration: none;
            font-size: 14px;
            line-height: 1.4;
            border-bottom: 1px solid #eeeeee;
        }

        /* Change option color on hover */
        .dropdown-content option:hover {
            background-color: #f9f9f9;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body>
    <% if(!user) { %>
        <h1>Login to start OAuth Flow</h1>
        <form id="oauth-form" method="GET" action="/auth/usekeyp">
            <input type="submit" value="Login" />
        </form>
        <% } else { %>
            <h1>Transfer Tokens:</h1>
            <form method="POST" action="/tokens">
                <label for="tokenAddress">Token address:</label><br>
                <input type="text" id="tokenAddress" name="tokenAddress"><br>
                <label for="tokenType">Token type:</label><br>
                <select id="tokenType" name="tokenType" onchange="showTokenId()">
                    <option value="ERC20">ERC20</option>
                    <option value="ERC721">ERC721</option>
                    <option value="ERC1155">ERC1155</option>
                </select><br>
                <div id="tokenIdContainer" style="display:none;">
                    <label for="tokenId">Token ID:</label><br>
                    <input type="text" id="tokenId" name="tokenId\"><br>
                </div>
                <label for="toUserUsername">Recipient username:</label><br>
                <input type="text" id="toUserUsername" name="toUserUsername"><br>
                <label for="toUserProviderType">Recipient provider:</label><br>
                <select id="toUserProviderType" name="toUserProviderType">
                    <option value="GOOGLE">Google</option>
                    <option value="DISCORD">Discord</option>
                </select><br>
                <label for="amount">Amount:</label><br>
                <input type="number" id="amount" name="amount"><br><br>
                <button type="submit">Transfer Token</button>
                <% if (error) { %>
                    <p style="color: red;">
                        <%= error %>
                    </p>
                    <% } %>
            </form>

            <script>
                function showTokenId() {
                    var tokenType = document.getElementById("tokenType").value;
                    var tokenIdContainer = document.getElementById("tokenIdContainer");
                    if (tokenType === "ERC721") {
                        tokenIdContainer.style.display = "block";
                    } else {
                        tokenIdContainer.style.display = "none";
                    }
                }
            </script>

            <h1>Session Data:</h1>
            <table class="table">
                <% Object.keys(user).forEach(key=> { %>
                    <tr>
                        <td>
                            <%= key %>
                        </td>
                        <td class="long-text\">
                            <%= user[key] %>
                        </td>
                    </tr>
                    <% }) %>
            </table>
            <% } %>

</body>

</html>